# Gradle files
**/build/
.gradle/

# Local configuration file (sdk path, etc)
**/local.properties
local.properties

# Log/OS Files
*.log
.DS_Store

# Android Studio / Android generated
**/GeneratedPluginRegistrant.java
**/android/app/debug
**/android/app/profile
**/android/app/release
*.aab
*.apk
.cxx/
.externalNativeBuild/
captures/
key.properties
output-metadata.json

# IntelliJ / IDEs
*.iml
*.ipr
*.iws
.history
.idea/
.svn/
.swiftpm/
deploymentTargetDropDown.xml
misc.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof
/.kotlin
/.obsidian

# Flutter / Dart
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/
app.*.map.json
app.*.symbols

# flutter Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/Pods
/dev/integration_tests/**/xcuserdata
/packages/flutter/coverage/
analysis_benchmark.json
version

# flutter packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
**/generated_plugin_registrant.dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-preload-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# flutter Android related
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/local.properties
*.jks
.gradle/

# flutter iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.symlinks/
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json

# flutter macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# flutter Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# flutter Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# flutter Coverage
coverage/

# flutter Symbols
app.*.symbols

# flutter Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/dev/ci/**/Gemfile.lock
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Platform specific ephemeral files
**/Flutter/ephemeral/
**/flutter/ephemeral/

# flutter iOS / macOS
**/*sync/
**/.symlinks/
**/.vagrant/
**/DerivedData/
**/Pods/
**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
.sconsign.dblite
.tags*
Icon?
# profile # leaving this one in causes the androidmanifest.xml to get removed...
**/.generated/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/app.flx
**/Flutter/app.zip
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh
**/Runner/GeneratedPluginRegistrant.*
ServiceDefinitions.json
xcuserdata

!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# Windows
!*.[Cc]ache/
*.[Cc]ache
*.sln.docstates
*.suo
*.user
*.userosscache
x64/
x86/

# Pigeon generated bindings
frontend/lib/thinker_api.dart
shared/src/commonMain/kotlin/alphainterplanetary/thinker/ThinkerApi.kt
shared/src/androidMain/kotlin/alphainterplanetary/thinker/pigeon/ThinkerApi.kt
